/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

nav ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

/* Prevents adjustments of font size after orientatioin changes IE on Windows Phone in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: #D6E3EC; }

header {
  background-color: #286BAF;
  color: #FFF; }
  header img.headerLogo {
    height: 90px;
    position: absolute; }
  header div.whiteBar {
    width: 100%;
    height: 90px;
    float: right; }
    header div.whiteBar nav.topMenu {
      background-color: white;
      width: 30%;
      float: right;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
      header div.whiteBar nav.topMenu ul li:last-child {
        width: 40%;
        border-left: 1px solid #286BAF;
        transition: background 1.0s ease, color 0.75s ease; }
      header div.whiteBar nav.topMenu ul li {
        float: left;
        width: 60%;
        transition: background 1.0s ease, color 0.75s ease; }
        header div.whiteBar nav.topMenu ul li a {
          font-size: 12px;
          padding: 10px 0;
          display: block;
          text-align: center;
          font-weight: 700;
          padding: .5rem 0;
          text-decoration: none;
          transition: background 0.75s ease, color 0.75s ease; }
      header div.whiteBar nav.topMenu li:first-child:hover > a {
        color: white;
        background: #0C529B;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
      header div.whiteBar nav.topMenu li:last-child:hover > a {
        color: white;
        background: #0C529B; }

nav.mainMenu {
  background-color: #286BAF; }
  nav.mainMenu ul li {
    float: left;
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    transition: background 1.0s ease, color 0.75s ease; }
  nav.mainMenu ul li:last-child {
    border-right: none; }
  nav.mainMenu ul li a {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: .5rem;
    padding: .5rem 0;
    color: white;
    text-decoration: none;
    transition: background 0.75s ease, color 0.75s ease; }
  nav.mainMenu ul li a:hover {
    color: white;
    background-color: #0C529B; }

footer {
  background-color: #6E9FD1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
  footer ul li {
    padding-bottom: 10px;
    list-style: none;
    float: left;
    width: 20%;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    transition: background 1.50s ease, color 0.75s ease; }
  footer ul li:last-child {
    border-right: none; }
  footer ul li a {
    display: block;
    text-align: center;
    font-weight: 700;
    padding: .5rem 0;
    color: white;
    text-decoration: none;
    transition: background 0.75s ease, color 0.75s ease; }
  footer ul li:hover {
    color: white;
    background-color: #0C529B; }
  footer ul li a:hover {
    text-decoration: none;
    color: white; }
  footer figure.photo {
    height: 55px; }
    footer figure.photo img {
      padding: 0 10px;
      width: 100%;
      height: 30px;
      font-weight: 300;
      font-size: x-small;
      margin-top: 10px; }
    footer figure.photo img.logo1 {
      content: url(../images/microsoftLogoSmall.png);
      width: 90%; }
    footer figure.photo img.logo2 {
      content: url(../images/chaseLogoSmall.png); }
    footer figure.photo img.logo3 {
      content: url(../images/killerspinLogoSmall.png); }
    footer figure.photo img.logo4 {
      content: url(../images/butterflyLogoSmall.png); }
    footer figure.photo img.logo5 {
      content: url(../images/stigaLogoSmall.png);
      width: 90%; }
    footer figure.photo figcaption {
      text-align: center;
      font-size: 8px;
      font-weight: 300;
      white-space: nowrap; }

section.formWrapper {
  width: 96%;
  margin: 1rem 2%;
  background-color: #D6E3EC; }
  section.formWrapper div.formHeader {
    text-align: center;
    background: #6E9FD1;
    border-radius: 4px; }
    section.formWrapper div.formHeader > hr {
      border-top: 1px solid #286BAF; }
  section.formWrapper h1 {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 12px;
    color: white; }
  section.formWrapper h2 {
    font-size: 1rem;
    font-weight: 300;
    padding: 12px;
    color: white; }
  section.formWrapper div.form-card form div.centerContainer {
    height: 110px; }
    section.formWrapper div.form-card form div.centerContainer div.btnContainer {
      height: 65px;
      width: 50%;
      margin: 0 auto; }
    section.formWrapper div.form-card form div.centerContainer button.playerbtn {
      margin-top: 21px;
      background-color: #286BAF;
      border: none;
      border-radius: 4px;
      color: white;
      height: 65px;
      width: 100%;
      transition: border 0.75s ease, background 0.75s ease, color 0.75s ease; }
    section.formWrapper div.form-card form div.centerContainer button.playerbtn2 {
      margin-top: 21px;
      background-color: #45A545;
      border: none;
      border-radius: 4px;
      color: white;
      height: 65px;
      width: 100%;
      transition: border 0.75s ease, background 0.75s ease, color 0.75s ease; }
    section.formWrapper div.form-card form div.centerContainer button.playerbtn:hover {
      background-color: #8bb8e5;
      color: black;
      font-weight: 300;
      border: 1px solid black; }
    section.formWrapper div.form-card form div.centerContainer button.playerbtn2:hover {
      background-color: #1f84ee;
      color: black;
      font-weight: 600;
      border: 2px solid black; }
  section.formWrapper div.form-card > div {
    margin: 0 auto; }
  section.formWrapper p.playerBanner {
    padding-top: 7px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    background-color: #4681BF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 34px;
    color: white; }
  section.formWrapper div.col-container > div {
    text-align: center; }
    section.formWrapper div.col-container > div input {
      border: 1px solid #0C529B;
      text-align: center;
      width: 80%;
      margin: 0 auto; }
  section.formWrapper div.col-container div > label {
    margin: 5px; }
  section.formWrapper div.required {
    margin: 5px;
    color: red;
    font-size: .8rem;
    font-weight: 600; }

div.searchBarCol > input {
  border: 1px solid #286BAF;
  border-radius: 5px;
  width: 90%;
  display: block;
  margin: 0 auto;
  text-align: center; }

div.searchBarCol > h3 {
  margin: 10px 0;
  text-align: center; }

div.searchBarCol > hr {
  border-top: 1px solid #286BAF; }

div.displayPlayers {
  width: 90%;
  margin: 0 auto; }

div.playerDisplay {
  transition: background 1s ease, color 1s ease;
  background: #6E9FD1;
  text-align: center;
  width: 100%;
  border: 1px solid #0C529B;
  margin: 10px auto;
  border-radius: 5px;
  padding: 12px;
  color: black; }
  div.playerDisplay h2.text-center {
    color: white;
    text-align: center;
    font-size: 1.5rem; }
  div.playerDisplay div > a:hover {
    text-decoration: none; }

.playerDisplay:hover {
  background: #D6E3EC; }
  .playerDisplay:hover h2.text-center {
    color: black; }

div.userPic > h1 {
  background: #6E9FD1;
  color: white;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  height: 30px;
  padding-top: 5px;
  font-weight: 500;
  font-size: 1.3rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 1px solid #0C529B;
  border-left: 1px solid #0C529B;
  border-right: 1px solid #0C529B; }

img.showImg {
  border-bottom: 1px solid #0C529B;
  border-left: 1px solid #0C529B;
  border-right: 1px solid #0C529B;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  display: block; }

div.showMenu {
  width: 80%;
  margin: 0 auto;
  display: table; }
  div.showMenu ul.showList {
    list-style: none;
    text-align: center; }
    div.showMenu ul.showList a:last-child li {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    div.showMenu ul.showList a:hover {
      text-decoration: none; }
  div.showMenu li.showLinks {
    border: 1px solid #0C529B;
    height: 35px;
    background: #4681BF;
    color: white;
    padding-top: 10px;
    transition: background 0.5s ease, border 0.5s ease; }
  div.showMenu li.showLinks {
    border-top: none; }
  div.showMenu li.showLinks:hover {
    background: #6E9FD1;
    border: 1px solid white;
    border-right: none;
    border-left: none; }

div.showInfo {
  background: white;
  padding: 5% 10%; }
  div.showInfo div.col-container > h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px; }
  div.showInfo div.col-container > div {
    margin: 10px;
    font-weight: 400; }

div#headerBar {
  background-color: #393737;
  background-image: url(../images/page-hero.png);
  background-repeat: no-repeat;
  background-position: 36px -20px;
  background-size: 470px 400px;
  height: 100px; }
  div#headerBar div > h1 {
    color: white;
    padding-top: 30px;
    padding-left: 25px; }

table.matchTable {
  width: 100%; }

img.tableIcon {
  height: 21px; }

div.filterContainer {
  background: #6E9FD1; }
  div.filterContainer h3 {
    font-size: 1.3rem;
    text-align: center;
    padding: 10px 0; }
  div.filterContainer div {
    width: 50%;
    float: left;
    background: white;
    background-color: #6E9FD1;
    height: 35px; }
  div.filterContainer .dropDownList {
    width: 84%;
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    transition: border 0.5s ease, width 0.75s ease, font 0.75s ease; }
  div.filterContainer .dropDownList:hover {
    border: 1px solid white;
    width: 78%;
    font-size: 14px; }
  div.filterContainer .resetButton {
    background: #0C529B;
    height: 26px;
    width: 84%;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 400;
    margin: 0 auto;
    display: block;
    transition: background 0.75s ease, width 0.75s ease, color 0.75s ease; }
  div.filterContainer .resetButton:hover {
    background: white;
    color: #0C529B;
    width: 75%; }

table.tableHeader {
  border-radius: 4px;
  width: 100%;
  background: #286BAF; }
  table.tableHeader tr > th {
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding: 5px; }
    table.tableHeader tr > th > img {
      background: white;
      height: 25px;
      margin-bottom: -5px;
      border-radius: 4px;
      padding: 0 5px; }
  table.tableHeader tr > th:first-child {
    width: 165px; }
  table.tableHeader tr > th:last-child {
    font-size: 0.5rem; }

.playerVsPlayer {
  width: 85px; }
  .playerVsPlayer strong {
    font-size: 0.8rem; }

.tvText {
  font-size: 0.7rem; }

.tvChannel {
  width: 90%; }

.redWood {
  font-size: 0.6rem; }

div.containerStandings h1 {
  font-size: 1.5rem;
  background: white;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #0C529B; }

.panel {
  border: 1px solid #0C529B;
  text-align: center;
  width: 75%;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 10px;
  height: 150px;
  font-weight: 400;
  transition: border 0.75s ease, background 0.75s ease, color 0.75s, height 0.75s ease, font-size 0.75 ease; }
  .panel h2 {
    font-size: 1.5rem;
    margin-bottom: 5px; }
  .panel div {
    background: lightblue;
    margin: 5px auto;
    width: 55%;
    border-radius: 4px;
    height: 20px;
    transition: border 0.75s ease, background 0.75s ease, color 0.75s;
    padding-top: 1px; }
  .panel div:hover {
    background: #0C529B;
    width: 50%; }
    .panel div:hover a {
      color: white;
      text-decoration: none; }

.gameLogger {
  font-weight: 400;
  text-align: center;
  border: 1px solid #0C529B;
  background: white;
  padding: 20px;
  width: 75%;
  margin: 10px auto;
  border-radius: 4px; }
  .gameLogger h2 {
    font-size: 1.5rem;
    margin-bottom: 10px; }
  .gameLogger input {
    text-align: center;
    border: 1px solid #0C529B;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    width: 25%;
    transition: border 0.25s ease, width 0.50s ease; }
  .gameLogger input:hover {
    border: 1px solid #ddd;
    width: 30%; }
  .gameLogger select {
    text-align: center;
    text-align-last: center;
    color: white;
    background: #286BAF;
    margin: 0 auto;
    display: block;
    width: 70%;
    transition: border 0.25s ease, width 0.5s ease; }
    .gameLogger select option {
      text-align: left; }
  .gameLogger select:hover {
    border: 1px solid #ddd;
    width: 65%; }
  .gameLogger div.submitScoreDiv button {
    margin-top: 10px;
    color: #fff;
    background-color: #0C529B;
    border-color: #286BAF;
    border-radius: 4px;
    transition: border 0.75s ease, background 0.75s ease, color 0.75s, width 0.75s ease; }
  .gameLogger div.submitScoreDiv button:hover {
    width: 48%;
    font-size: 0.9rem;
    color: #0C529B;
    background-color: white;
    border-color: #4681BF; }

.tablesaw-sortable-descending {
  transition: background 0.75s ease;
  border-right: 1px solid white;
  background: #0C529B; }
  .tablesaw-sortable-descending a {
    transition: color 0.75s ease;
    color: white; }
  .tablesaw-sortable-descending a:hover {
    text-decoration: none; }
  .tablesaw-sortable-descending a:focus {
    text-decoration: none; }

.tablesaw-sortable-descending:hover {
  background: #4681BF; }
  .tablesaw-sortable-descending:hover a {
    color: black; }

.tablesaw-sortable-descending:last-child {
  border: none; }

tr.playerRow {
  background: white; }
  tr.playerRow td {
    transition: background .5s ease;
    border-right: 1px solid #ddd; }
  tr.playerRow td:last-child {
    border: none; }
  tr.playerRow td:hover {
    background: #ADD8E6; }

div.bracketStandings {
  margin: 0 10px; }

tr.playerRow:last-child {
  border-bottom: 1px solid #ddd; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 560px) {
  header {
    background-color: #286BAF;
    color: #FFF;
    width: 100%; }
    header img.headerLogo {
      height: 130px; }
    header div.whiteBar {
      width: 100%;
      height: 83px;
      float: right;
      background: #6E9FD1; }
      header div.whiteBar nav.topMenu {
        background-color: #286BAF;
        width: 25%;
        float: right;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
        header div.whiteBar nav.topMenu ul li:last-child {
          width: 40%; }
        header div.whiteBar nav.topMenu ul li {
          float: left;
          width: 60%; }
          header div.whiteBar nav.topMenu ul li a {
            color: white;
            font-size: 16px;
            display: block;
            text-align: center;
            font-weight: 600;
            padding: .5rem 0;
            text-decoration: none;
            transition: background 0.75s ease, color 0.75s ease; }
        header div.whiteBar nav.topMenu li:first-child:hover > a {
          color: #0C529B;
          background: white;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px; }
        header div.whiteBar nav.topMenu li:last-child:hover > a {
          color: #0C529B;
          background: white; }

  nav.mainMenu {
    width: 100%;
    background-color: #286BAF;
    border-bottom: none; }
    nav.mainMenu ul {
      width: 85%;
      float: right; }
    nav.mainMenu ul li {
      float: left;
      width: 25%;
      border-right: 1px solid rgba(0, 0, 0, 0.4); }
    nav.mainMenu ul li:last-child {
      border-right: none; }
    nav.mainMenu ul li a {
      height: 46px;
      display: block;
      text-align: center;
      font-weight: 300;
      font-size: 1.2rem;
      padding: .8rem 0;
      color: white;
      text-decoration: none;
      transition: background 0.75s ease, color 0.75s ease; }
    nav.mainMenu ul li a:hover {
      color: white;
      background-color: #0C529B; }

  footer {
    width: 100%;
    background-color: #6E9FD1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
    footer ul li {
      list-style: none;
      float: left;
      width: 20%;
      border-right: 1px solid rgba(0, 0, 0, 0.4); }
    footer ul li:last-child {
      border-right: none; }
    footer ul li a {
      display: block;
      text-align: center;
      font-weight: 700;
      margin-bottom: 5px;
      color: white;
      text-decoration: none; }
    footer ul li a:hover {
      color: black;
      font-weight: 700; }
    footer figure.photo {
      padding: 0 10px;
      height: 55px; }
      footer figure.photo img {
        width: 100%;
        height: 50px;
        font-weight: 300;
        font-size: x-small;
        margin-top: 0; }
      footer figure.photo img.logo1 {
        content: url(../images/microsoftLogoSmall.png);
        width: 135px; }
      footer figure.photo img.logo2 {
        content: url(../images/chaseLogoSmall.png);
        width: 80px;
        padding-bottom: 3px; }
      footer figure.photo img.logo3 {
        content: url(../images/killerspinLogoSmall.png);
        width: 100%;
        padding-top: 10px; }
      footer figure.photo img.logo4 {
        content: url(../images/butterflyLogoSmall.png);
        width: 100%;
        padding-top: 18px;
        padding-bottom: 2px; }
      footer figure.photo img.logo5 {
        content: url(../images/stigaLogoSmall.png);
        width: 80px;
        padding-top: 18px;
        padding-bottom: 5px; }
      footer figure.photo figcaption {
        font-size: 14px;
        font-weight: 300;
        white-space: nowrap; }

  section.formWrapper {
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-image: url(../images/table_t.png);
    background-size: 313px; }
    section.formWrapper div.formHeader {
      width: 76%;
      height: 250px;
      margin: 0 auto;
      margin-top: 5px;
      border-radius: 0;
      border: 1px solid #286BAF;
      border-bottom: none;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    section.formWrapper h1 {
      font-size: 1.6rem;
      font-weight: 400;
      padding: 17px;
      color: white;
      height: 75px; }
    section.formWrapper h2 {
      font-size: 1.3rem;
      font-weight: 300;
      padding: 30px;
      color: white; }
    section.formWrapper div.form-card {
      width: 76%;
      clear: right;
      margin: 0 auto; }
    section.formWrapper div.form-card form div.centerContainer button.playerbtn {
      margin-top: 30px;
      width: 100%;
      height: 65px; }
    section.formWrapper p.playerBanner {
      padding-top: 20px;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      font-size: 1.2rem;
      background-color: #4681BF;
      border-radius: 0;
      height: 65px;
      color: white; }
    section.formWrapper fieldset {
      border: 1px solid #286BAF;
      border-top: none;
      background: white;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    section.formWrapper div.col-container {
      padding-top: 20px;
      height: 110px; }
    section.formWrapper div.inputField {
      width: 50%;
      float: left;
      text-align: center; }
      section.formWrapper div.inputField input {
        text-align: center;
        width: 80%;
        margin: 0 auto; }
    section.formWrapper div.inputField > label {
      margin: 5px; }
    section.formWrapper div.required {
      margin: 5px;
      color: red;
      font-size: .8rem;
      font-weight: 600; }

  div.searchBarCol > input {
    border: 2px solid #286BAF;
    font-size: 1.2rem; }

  div.searchBarCol > h3 {
    font-size: 1.4rem; }

  div.searchBarCol > hr {
    border-top: 2px solid #286BAF; }

  div.displayPlayers {
    width: 90%;
    margin-left: 8%; }

  div.playerDisplay {
    background: #6E9FD1;
    text-align: center;
    width: 45%;
    float: left;
    border: 1px solid #0C529B;
    margin: 10px 10px;
    border-radius: 5px;
    padding: 12px;
    color: black;
    height: 200px; }
    div.playerDisplay h2.text-center {
      margin: 5px auto;
      color: white;
      text-align: center;
      font-size: 1.5rem; }
    div.playerDisplay div > a:hover {
      text-decoration: none; }
    div.playerDisplay div > p {
      margin-top: 15px; }

  div.userPic > h1 {
    background: #4681BF;
    color: white;
    text-align: center;
    width: 90%;
    max-width: 420px;
    margin: 0 auto;
    margin-top: 50px;
    height: 45px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 1.3rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid #0C529B;
    border-left: 1px solid #0C529B;
    border-right: 1px solid #0C529B; }

  div.showUser {
    width: 60%;
    float: left;
    background: #D6E3EC; }

  img.showImg {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #0C529B;
    border-left: 1px solid #0C529B;
    border-right: 1px solid #0C529B;
    width: 90%;
    max-width: 420px;
    height: 340px;
    margin: 0 auto;
    display: block;
    margin-bottom: 55px; }

  div.showMenu {
    height: 490px;
    background: #D6E3EC;
    width: 40%;
    margin: 0;
    display: table; }
    div.showMenu ul.showList {
      width: 80%;
      margin-top: 52px;
      margin-left: 20%;
      list-style: none;
      text-align: center; }
      div.showMenu ul.showList > a:last-child li {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; }
    div.showMenu li.showLinks {
      border: 0;
      height: 40px;
      background: #0C529B;
      color: white;
      font-weight: 500;
      padding-top: 12px;
      margin-bottom: 30px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      font-size: 1.1rem; }

  div.showInfo {
    background: white;
    padding: 5% 10%; }
    div.showInfo div.col-container > h1 {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 15px; }
    div.showInfo div.col-container > div {
      height: 50px;
      margin: 15px;
      font-weight: 500; }
      div.showInfo div.col-container > div > p {
        font-size: 1.5rem; }

  div#headerBar {
    background-position: 100% -26px; }
    div#headerBar div > h1 {
      font-size: 2.1rem;
      padding-left: 29px; }

  div.filterContainer h3 {
    height: 53px;
    font-size: 1.6rem; }
  div.filterContainer div {
    height: 50px; }
  div.filterContainer .dropDownList {
    height: 35px; }
  div.filterContainer .resetButton {
    height: 35px; }

  table.tableHeader tr > th {
    font-size: 1rem; }
    table.tableHeader tr > th > img {
      background: white;
      height: 35px;
      margin-bottom: -5px; }
  table.tableHeader tr > th:first-child {
    width: 190px; }
  table.tableHeader tr > th:last-child {
    font-size: 1rem; }

  .playerVsPlayer {
    width: 98px;
    height: 65px;
    padding-top: 20px; }
    .playerVsPlayer strong {
      font-size: 1rem; }

  .tvText {
    font-size: 1rem;
    font-weight: 400; }

  .tvChannel {
    width: 70%; }

  .redWood {
    font-size: 0.8rem; }

  div.containerStandings h1 {
    font-size: 1.8rem;
    height: 65px;
    padding-top: 15px;
    margin: 10px 0;
    border-bottom: 1px solid #0C529B;
    border-top: 1px solid #0C529B; }

  .panel {
    width: 45%;
    margin-left: 3%;
    margin-top: 10px;
    height: 195px;
    float: left;
    margin-top: 50px;
    margin-left: 3%; }
    .panel h2 {
      font-size: 1.7rem; }
    .panel div {
      margin: 7px auto;
      width: 60%;
      height: 25px;
      padding-top: 3px; }

  .gameLogger {
    float: left;
    width: 45%;
    margin-left: 5%;
    margin-bottom: 10px; }
    .gameLogger h2 {
      font-size: 1.7rem; }
    .gameLogger input {
      text-align: center;
      border: 1px solid #0C529B;
      margin: 0 auto;
      display: block;
      border-radius: 4px;
      width: 25%; }
    .gameLogger select {
      text-align: center;
      text-align-last: center;
      color: white;
      background: #286BAF;
      margin: 0 auto;
      display: block;
      width: 70%; }
      .gameLogger select option {
        text-align: left; }
    .gameLogger div.submitScoreDiv button {
      margin-top: 10px;
      color: #fff;
      background-color: #0C529B;
      border-color: #286BAF;
      border-radius: 4px;
      transition: border 0.75s ease, background 0.75s ease, color 0.75s; }

  /*----- Clearfix: Force an Element not to collapse -----*/
  .clearfix {
    content: "";
    display: table;
    clear: both; } }
@media only screen and (min-width: 1114px) {
  header {
    background-color: #286BAF;
    color: #FFF;
    width: 100%; }
    header img.headerLogo {
      height: 130px; }
    header div.whiteBar {
      width: 100%;
      height: 83px; }
      header div.whiteBar nav.topMenu {
        background-color: #286BAF;
        width: 25%;
        float: right;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
        header div.whiteBar nav.topMenu ul li:last-child {
          width: 40%; }
        header div.whiteBar nav.topMenu ul li {
          float: left;
          width: 60%; }
          header div.whiteBar nav.topMenu ul li a {
            color: white;
            font-size: 16px;
            display: block;
            text-align: center;
            font-weight: 600;
            padding: .5rem 0;
            text-decoration: none;
            transition: background 0.75s ease, color 0.75s ease; }
        header div.whiteBar nav.topMenu li:first-child:hover > a {
          color: #0C529B;
          background: white;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px; }
        header div.whiteBar nav.topMenu li:last-child:hover > a {
          color: #0C529B;
          background: white; }

  nav.mainMenu {
    width: 100%;
    background-color: #286BAF;
    border-bottom: none; }
    nav.mainMenu ul {
      width: 85%;
      float: right; }
    nav.mainMenu ul li {
      float: left;
      width: 15%;
      border-right: none; }
    nav.mainMenu ul li:last-child {
      border-right: none; }
    nav.mainMenu ul li a {
      height: 46px;
      display: block;
      text-align: center;
      font-weight: 500;
      font-size: 1.2rem;
      padding: .8rem 0;
      color: white;
      text-decoration: none;
      transition: background 0.75s ease, color 0.75s ease; }
    nav.mainMenu ul li a:hover {
      color: white;
      background-color: #0C529B; }

  footer {
    background-image: url(../images/footer-left.png), url(../images/footer-right.png);
    background-repeat: no-repeat;
    background-position: 0 -55%, 100% 0;
    border-bottom: none; }
    footer ul {
      width: 75%;
      margin: 100px auto; }
    footer ul li:hover {
      color: white;
      background-color: #4785c5; }

  section.formWrapper {
    height: 650px;
    border-bottom: 3px solid #286BAF; }
    section.formWrapper div.formHeader {
      width: 45%;
      margin: 0 50px;
      margin-top: 60px;
      float: left;
      background: rgba(110, 159, 209, 0.72);
      border-bottom: 1px solid #286BAF;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    section.formWrapper div.form-card {
      width: 45%;
      clear: none;
      margin: 58px auto;
      float: left; }
    section.formWrapper p.playerBanner {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      font-size: 1.5rem;
      font-weight: normal; }

  div.playerDisplay {
    width: 30%; }

  div.showUser {
    width: 37%; }

  div.showMenu {
    height: 490px;
    width: 200px;
    margin-left: 85.3%;
    position: fixed;
    background: none; }
    div.showMenu li.showLinks {
      border-radius: 4px;
      font-size: 1rem;
      height: 35px;
      font-weight: lighter; }

  div.showInfo {
    background: none; }
    div.showInfo div.col-container div {
      background: none;
      width: 25%;
      float: left;
      display: inline-flex; }
      div.showInfo div.col-container div p {
        font-size: 1rem; }

  div.filterContainer h3 {
    height: 60px;
    font-size: 1.9rem; }
  div.filterContainer .dropDownList {
    width: 50%; }
  div.filterContainer .dropDownList:hover {
    width: 45%; }
  div.filterContainer .resetButton {
    width: 50%; }
  div.filterContainer .resetButton:hover {
    width: 45%; }

  .tvChannel {
    width: 40%; }

  .panel {
    width: 217px;
    float: right;
    margin-left: 77%;
    position: fixed;
    margin-top: -10px;
    clear: right; }

  .gameLogger {
    margin-left: 77%;
    margin-top: 186px;
    width: 217px;
    margin-bottom: 10px;
    position: fixed;
    z-index: -1; }

  div.bracketStandings {
    width: 70%; } }

/*# sourceMappingURL=styles.css.map */
