// **************** Index page ***************************
header {
    background-color: $primaryColor;
    color: #FFF;
    width: 100%;
    img.headerLogo {
        height: 130px;
    }
    div.whiteBar {
        width: 100%;
        height: 83px;
        nav.topMenu {
            background-color: $primaryColor;
            width: 25%;
            float: right;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            ul li:last-child {
                width: 40%;
            }
            ul li {
                float: left;
                width: 60%;
                a {
                    color: $fontColor;
                    font-size: 16px;
                    display: block;
                    text-align: center;
                    font-weight: 600;
                    padding: .5rem 0;
                    text-decoration: none;
                    transition: background 0.75s ease, color 0.75s ease;
                }
            }
            li:first-child:hover>a {
                color: $secondaryColor;
                background: $fontColor;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            li:last-child:hover>a {
                color: $secondaryColor;
                background: $fontColor;
            }
        }
    }
}

nav.mainMenu {
    width: 100%;
    background-color: $primaryColor;
    border-bottom: none;
    ul {
        width: 85%;
        float: right;
    }
    ul li {
        float: left;
        width: 15%;
        border-right: none;
    }
    ul li:last-child {
        border-right: none;
    }
    ul li a {
        height: 46px;
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: 1.2rem;
        padding: .8rem 0;
        color: $fontColor;
        text-decoration: none;
        transition: background 0.75s ease, color 0.75s ease;
    }
    ul li a:hover {
        color: $fontColor;
        background-color: $secondaryColor;
    }
}

// ----------------------- Footer -------------------------
footer {
    background-image: url(../images/footer-left.png), url(../images/footer-right.png);
    background-repeat: no-repeat;
    background-position: 0 -55%, 100% 0;
    border-bottom: none;
    ul {
        width: 75%;
        margin: 100px auto;
    }
    ul li:hover {
        color: $fontColor;
        background-color: darken($primaryLightest, 10%);
    }
}

// ---------------- home view page/ user Form -----------------------
section.formWrapper {
    height: 650px;
    border-bottom: 3px solid $primaryColor;
    div.formHeader {
        width: 45%;
        margin: 0 50px;
        margin-top: 60px;
        float: left;
        background: rgba(110, 159, 209, 0.72);
        border-bottom: 1px solid $primaryColor;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    div.form-card {
        width: 45%;
        clear: none;
        margin: 58px auto;
        float: left;
    }
    p.playerBanner {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        font-size: 1.5rem;
        font-weight: normal;
    }
}

//---------------------------- player index ------------------------------
div.playerDisplay {
    width: 30%;
}

//---------------------------- player show -------------------------------
div.showUser {
    width: 37%;
}

div.showMenu {
    height: 490px;
    width: 200px;
    margin-left: 85.3%;
    position: fixed;
    background: none;
    li.showLinks {
        border-radius: 4px;
        font-size: 1rem;
        height: 35px;
        font-weight: lighter;
    }
}

div.showInfo {
    background: none;
    div.col-container {
        div {
            background: none;
            width: 25%;
            float: left;
            display: inline-flex;
            p {
                font-size: 1rem;
            }
        }
    }
}

// --------------------------- schedules --------------------------------
div.filterContainer {
    h3 {
        height: 60px;
        font-size: 1.9rem;
    }
    .dropDownList {
        width: 50%;
    }
    .dropDownList:hover {
        width: 45%;
    }
    .resetButton {
        width: 50%;
    }
    .resetButton:hover {
        width: 45%;
    }
}

.tvChannel {
    width: 40%;
}

//---------------- standings -------------------------
.panel {
    width: 217px;
    float: right;
    margin-left: 77%;
    position: fixed;
    margin-top: -10px;
    clear: right;
}

.gameLogger {
    margin-left: 77%;
    margin-top: 186px;
    width: 217px;
    margin-bottom: 10px;
    position: fixed;
    z-index: -1;
}

div.bracketStandings {
    width: 70%;
}