    // **************** Index page ***************************
    header {
        background-color: $primaryColor;
        color: #FFF;
        width: 100%;
        img.headerLogo {
            height: 130px;
        }
        div.whiteBar {
            width: 100%;
            height: 83px;
            float: right;
            background: white;
            nav.topMenu {
                background-color: $primaryColor;
                width: 25%;
                float: right;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                ul li:last-child {
                    width: 40%;
                }
                ul li {
                    float: left;
                    width: 60%;
                    a {
                        color: $fontColor;
                        font-size: 16px;
                        display: block;
                        text-align: center;
                        font-weight: 600;
                        padding: .5rem 0;
                        text-decoration: none;
                        transition: background 0.75s ease, color 0.75s ease;
                    }
                }
                li:first-child:hover>a {
                    color: $secondaryColor;
                    background: $fontColor;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
                li:last-child:hover>a {
                    color: $secondaryColor;
                    background: $fontColor;
                }
            }
        }
    }

    nav.mainMenu {
        width: 100%;
        background-color: $primaryColor;
        border-bottom: none;
        ul {
            width: 85%;
            float: right;
        }
        ul li {
            float: left;
            width: 25%;
            border-right: 1px solid rgba(0, 0, 0, 0.4);
        }
        ul li:last-child {
            border-right: none;
        }
        ul li a {
            height: 46px;
            display: block;
            text-align: center;
            font-weight: $normalWeight;
            font-size: 1.2rem;
            padding: .8rem 0;
            color: $fontColor;
            text-decoration: none;
            transition: background 0.75s ease, color 0.75s ease;
        }
        ul li a:hover {
            color: $fontColor;
            background-color: $secondaryColor;
        }
    } // ----------------------- Footer -------------------------
    footer {
        width: 100%;
        background-color: $primaryLightest;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        ul li {
            list-style: none;
            float: left;
            width: 20%;
            border-right: 1px solid rgba(0, 0, 0, 0.4);
        }
        ul li:last-child {
            border-right: none;
        }
        ul li a {
            display: block;
            text-align: center;
            font-weight: $boldWeight;
            margin-bottom: 5px;
            color: $fontColor;
            text-decoration: none;
        }
        ul li a:hover {
            color: black;
            font-weight: 700;
        }
        figure.photo {
            padding: 0 10px;
            height: 55px;
            img {
                width: 100%;
                height: 50px;
                font-weight: 300;
                font-size: x-small;
                margin-top: 0;
            } // ----------- footer logo images loaded here -------------
            img.logo1 {
                content: url(../images/microsoftLogo.png);
                width: 135px;
            }
            img.logo2 {
                content: url(../images/chaseLogo.png);
                width: 80px;
                padding-bottom: 3px;
            }
            img.logo3 {
                content: url(../images/killerspinLogo.png);
                width: 100%;
                padding-top: 10px;
            }
            img.logo4 {
                content: url(../images/butterflyLogo.png);
                width: 100%;
                padding-top: 18px;
                padding-bottom: 2px;
            }
            img.logo5 {
                content: url(../images/stigaLogo.png);
                width: 80px;
                padding-top: 18px;
                padding-bottom: 5px;
            }
            figcaption {
                font-size: 14px;
                font-weight: 300;
                white-space: nowrap;
            }
        }
    } // ---------------- home view page/ user Form -----------------------
    section.formWrapper {
        width: 100%;
        height: 800px;
        margin: 0 auto;
        background-image: url(../images/table_t.png);
        background-size: 313px;
        div.formHeader {
            width: 76%;
            height: 250px;
            margin: 0 auto;
            margin-top: 5px;
            border-radius: 0;
            border: 1px solid $primaryColor;
            border-bottom: none;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        h1 {
            font-size: 1.6rem;
            font-weight: 400;
            padding: 17px;
            color: $fontColor;
            height: 75px;
        }
        h2 {
            font-size: 1.3rem;
            font-weight: $normalWeight;
            padding: 30px;
            color: $fontColor;
        }
        div.form-card {
            width: 76%;
            clear: right;
            margin: 0 auto;
        }
        div.form-card form div.centerContainer button.playerbtn {
            margin-top: 30px;
            width: 100%;
            height: 65px;
        }
        p.playerBanner {
            padding-top: 20px;
            text-align: center;
            width: 100%;
            margin: 0 auto;
            font-size: 1.2rem;
            background-color: $primaryLighter;
            border-radius: 0;
            height: 65px;
            color: $fontColor;
        }
        fieldset {
            border: 1px solid $primaryColor;
            border-top: none;
            background: white;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        div.col-container {
            padding-top: 20px;
            height: 110px;
        }
        div.inputField {
            width: 50%;
            float: left;
            text-align: center;
            input {
                text-align: center;
                width: 80%;
                margin: 0 auto;
            }
        }
        div.inputField>label {
            margin: 5px;
        }
        div.required {
            margin: 5px;
            color: red;
            font-size: .8rem;
            font-weight: 600;
        }
    } // ----------------------- Players ------------------------
    div.searchBarCol>input {
        border: 2px solid $primaryColor;
        font-size: 1.2rem;
    }

    div.searchBarCol>h3 {
        font-size: 1.4rem;
    }

    div.searchBarCol>hr {
        border-top: 2px solid $primaryColor;
    }

    div.displayPlayers {
        width: 90%;
        margin-left: 8%;
    }

    div.playerDisplay {
        background: $primaryLightest;
        text-align: center;
        width: 45%;
        float: left;
        border: 1px solid $secondaryColor;
        margin: 10px 10px;
        border-radius: 5px;
        padding: 12px;
        color: black;
        height: 200px;
        h2.text-center {
            margin: 5px auto;
            color: $fontColor;
            text-align: center;
            font-size: 1.5rem;
        }
        div>a:hover {
            text-decoration: none;
        }
        div>p {
            margin-top: 15px;
        }
    } // ---------------------- Show players Page --------------------
    div.userPic {
        >h1 {
            background: $primaryLighter;
            color: $fontColor;
            text-align: center;
            width: 90%;
            margin: 0 auto;
            margin-top: 50px;
            height: 60px;
            padding-top: 20px;
            font-weight: 500;
            font-size: 1.3rem;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-top: 1px solid $secondaryColor;
            border-left: 1px solid $secondaryColor;
            border-right: 1px solid $secondaryColor;
        }
    }

    div.showUser {
        width: 50%;
        float: left;
        background: $primaryLightest;
    }

    img.showImg {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: 1px solid $secondaryColor;
        border-left: 1px solid $secondaryColor;
        border-right: 1px solid $secondaryColor;
        width: 90%;
        height: 340px;
        margin: 0 auto;
        display: block;
        margin-bottom: 55px;
    }

    div.showMenu {
        height: 505px;
        background: $primaryLightest;
        width: 50%;
        margin: 0 auto;
        display: table;
        ul.showList {
            width: 80%;
            margin-top: 30px;
            margin-left: 20%;
            list-style: none;
            text-align: center;
            >a:last-child li {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
        li.showLinks {
            border: 0;
            height: 50px;
            background: $secondaryColor;
            color: white;
            font-weight: 500;
            padding-top: 10px;
            margin-bottom: 42px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            font-size: 1.5rem;
        }
    }

    div.showInfo {
        background: white;
        padding: 5% 10%;
        div.col-container {
            >h1 {
                font-size: 2.5rem;
                text-align: center;
                margin-bottom: 15px;
            }
            >div {
                height: 50px;
                margin: 15px;
                font-weight: 500;
                >p {
                    font-size: 1.5rem;
                }
            }
        }
    } // ------------------------ schedules page --------------------
    div#headerBar {
        background-position: 100% -26px;
        div>h1 {
            font-size: 2.1rem;
            padding-left: 29px;
        }
    }

    div.filterContainer {
        h3 {
            height: 53px;
            font-size: 1.6rem;
        }
        div {
            height: 50px;
        }
        .dropDownList {
            height: 35px;
        }
        .resetButton {
            height: 35px;
        }
    }

    table.tableHeader {
        tr>th {
            font-size: 1rem;
            >img {
                background: white;
                height: 35px;
                margin-bottom: -5px;
            }
        }
        tr>th:first-child {
            width: 190px;
        }
        tr>th:last-child {
            font-size: 1rem;
        }
    }

    .playerVsPlayer {
        width: 98px;
        height: 65px;
        padding-top: 20px;
        strong {
            font-size: 1rem;
        }
    }

    .tvChannel {
        width: 70%;
    }

    .redWood {
        font-size: 0.8rem;
    } // -------------------- standings -----------------------
    div.containerStandings {
        h1 {
            font-size: 1.8rem;
            height: 65px;
            padding-top: 15px;
            margin: 10px 0;
            border-bottom: 1px solid $secondaryColor;
            border-top: 1px solid $secondaryColor;
        }
    }

    .panel {
        width: 45%;
        margin-left: 3%;
        margin-top: 10px;
        height: 195px;
        float: left;
        margin-top: 50px;
        margin-left: 3%;
        h2 {
            font-size: 1.7rem;
        }
        div {
            margin: 7px auto;
            width: 60%;
            height: 25px;
            padding-top: 3px;
        }
    }

    .gameInfo {
        float: left;
        width: 45%;
        margin-left: 5%;
        margin-bottom: 10px;
        h2 {
            font-size: 1.7rem;
        }
        input {
            text-align: center;
            border: 1px solid $secondaryColor;
            margin: 0 auto;
            display: block;
            border-radius: 4px;
            width: 25%;
        }
        select {
            text-align: center;
            text-align-last: center;
            color: white;
            background: $primaryColor;
            margin: 0 auto;
            display: block;
            width: 70%;
            option {
                text-align: left;
            }
        }
        div.submitScoreDiv {
            button {
                margin-top: 10px;
                color: #fff;
                background-color: $secondaryColor;
                border-color: $primaryColor;
                border-radius: 4px;
                transition: border 0.75s ease, background 0.75s ease, color 0.75s;
            }
        }
    }
    /*----- Clearfix: Force an Element not to collapse -----*/

    .clearfix {
        content: "";
        display: table;
        clear: both;
    }