
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // -------------------------------- BODY -------------------------------
body {
    font-family: $defaultFont;
    font-weight: $normalWeight;
    background-color: #D6E3EC;
} // ----------------------------------- Header -----------------------------
header {
    background-color: $primaryColor;
    color: #FFF;
    img.headerLogo {
        height: 90px;
        position: absolute;
    }
    div.whiteBar {
        width: 100%;
        height: 90px;
        float: right;
        nav.topMenu {
            background-color: $fontColor;
            width: 30%;
            float: right;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            ul li:last-child {
                width: 40%;
                border-left: 1px solid $primaryColor;
                transition: background 1.0s ease, color 0.75s ease;
            }
            ul li {
                float: left;
                width: 60%;
                transition: background 1.0s ease, color 0.75s ease;
                a {
                    font-size: 12px;
                    padding: 10px 0;
                    display: block;
                    text-align: center;
                    font-weight: $boldWeight;
                    padding: .5rem 0;
                    text-decoration: none;
                    transition: background 0.75s ease, color 0.75s ease;
                }
            }
            li:first-child:hover>a {
                color: $fontColor;
                background: $secondaryColor;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            li:last-child:hover>a {
                color: $fontColor;
                background: $secondaryColor;
            }
        }
    }
}

nav.mainMenu {
    background-color: $primaryColor;
    ul li {
        float: left;
        width: 25%;
        border-right: 1px solid rgba(0, 0, 0, 0.4);
        transition: background 1.0s ease, color 0.75s ease;
    }
    ul li:last-child {
        border-right: none;
    }
    ul li a {
        display: block;
        text-align: center;
        font-weight: $boldWeight;
        font-size: .5rem;
        padding: .5rem 0;
        color: $fontColor;
        text-decoration: none;
        transition: background 0.75s ease, color 0.75s ease;
    }
    ul li a:hover {
        color: $fontColor;
        background-color: $secondaryColor;
    }
} // ----------------------- Footer -------------------------
footer {
    background-color: $primaryLightest;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    ul li {
        padding-bottom: 10px;
        list-style: none;
        float: left;
        width: 20%;
        border-right: 1px solid rgba(0, 0, 0, 0.4);
        transition: background 1.50s ease, color 0.75s ease;
    }
    ul li:last-child {
        border-right: none;
    }
    ul li a {
        display: block;
        text-align: center;
        font-weight: $boldWeight;
        padding: .5rem 0;
        color: $fontColor;
        text-decoration: none;
        transition: background 0.75s ease, color 0.75s ease;
    }
    ul li:hover {
        color: $fontColor;
        background-color: $secondaryColor;
    }
    ul li a:hover {
        text-decoration: none;
        color: $fontColor;
    }
    figure.photo {
        height: 55px;
        img {
            padding: 0 10px;
            width: 100%;
            height: 30px;
            font-weight: 300;
            font-size: x-small;
            margin-top: 10px;
        } // ----------- footer logo images loaded here -------------
        img.logo1 {
            content: url(../images/microsoftLogoSmall.png);
            width: 90%;
        }
        img.logo2 {
            content: url(../images/chaseLogoSmall.png);
        }
        img.logo3 {
            content: url(../images/killerspinLogoSmall.png);
        }
        img.logo4 {
            content: url(../images/butterflyLogoSmall.png);
        }
        img.logo5 {
            content: url(../images/stigaLogoSmall.png);
            width: 90%;
        }
        figcaption {
            text-align: center;
            font-size: 8px;
            font-weight: 300;
            white-space: nowrap;
        }
    }
} //----------------------- home page/ user form -----------------------
section.formWrapper {
    width: 100% - $gutterdbl;
    margin: 1rem $gutter;
    background-color: #D6E3EC;
    div.formHeader {
        text-align: center;
        background: $primaryLightest;
        border-radius: 4px;
        >hr {
            border-top: 1px solid $primaryColor;
        }
    }
    h1 {
        font-size: 1.4rem;
        font-weight: $normalWeight;
        padding: 12px;
        color: $fontColor;
    }
    h2 {
        font-size: 1rem;
        font-weight: $normalWeight;
        padding: 12px;
        color: $fontColor;
    }
    div.form-card {
        form div.centerContainer {
            height: 110px;
            div.btnContainer {
                height: 65px;
                width: 50%;
                margin: 0 auto;
            }
            button.playerbtn {
                margin-top: 21px;
                background-color: $primaryColor;
                border: none;
                border-radius: 4px;
                color: $fontColor;
                height: 65px;
                width: 100%;
                transition: border 0.75s ease, background 0.75s ease, color 0.75s ease;
            }
            button.playerbtn2 {
                margin-top: 21px;
                background-color: #45A545;
                border: none;
                border-radius: 4px;
                color: white;
                height: 65px;
                width: 100%;
                transition: border 0.75s ease, background 0.75s ease, color 0.75s ease;
            }
            button.playerbtn:hover {
                background-color: lighten($primaryColor, 30%);
                color: black;
                font-weight: $normalWeight;
                border: 1px solid black;
            }
            button.playerbtn2:hover {
                background-color: lighten($secondaryColor, 20%);
                color: black;
                font-weight: 600;
                border: 2px solid black;
            }
        }
    }
    div.form-card>div {
        margin: 0 auto;
    }
    p.playerBanner {
        padding-top: 7px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        font-size: 1.2rem;
        background-color: $primaryLighter;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 34px;
        color: $fontColor;
    }
    div.col-container>div {
        text-align: center;
        input {
            border: 1px solid $secondaryColor;
            text-align: center;
            width: 80%;
            margin: 0 auto;
        }
    }
    div.col-container div>label {
        margin: 5px;
    }
    div.required {
        margin: 5px;
        color: red;
        font-size: .8rem;
        font-weight: 600;
    }
} // ----------------------- Players index------------------------
div.searchBarCol>input {
    border: 1px solid $primaryColor;
    border-radius: 5px;
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

div.searchBarCol>h3 {
    margin: 10px 0;
    text-align: center;
}

div.searchBarCol>hr {
    border-top: 1px solid $primaryColor;
}

div.displayPlayers {
    width: 90%;
    margin: 0 auto;
}

div.playerDisplay {
    transition: background 1s ease, color 1s ease;
    background: $primaryLightest;
    text-align: center;
    width: 100%;
    border: 1px solid $secondaryColor;
    margin: 10px auto;
    border-radius: 5px;
    padding: 12px;
    color: black;
    h2.text-center {
        color: $fontColor;
        text-align: center;
        font-size: 1.5rem;
    }
    div>a:hover {
        text-decoration: none;
    }
}

.playerDisplay:hover {
    background: #D6E3EC;
    h2.text-center {
        color: black;
    }
} // ---------------------- Show players Page --------------------
div.userPic {
    >h1 {
        background: $primaryLightest;
        color: $fontColor;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
        height: 30px;
        padding-top: 5px;
        font-weight: 500;
        font-size: 1.3rem;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-top: 1px solid $secondaryColor;
        border-left: 1px solid $secondaryColor;
        border-right: 1px solid $secondaryColor;
    }
}

img.showImg {
    border-bottom: 1px solid $secondaryColor;
    border-left: 1px solid $secondaryColor;
    border-right: 1px solid $secondaryColor;
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: block;
}

div.showMenu {
    width: 80%;
    margin: 0 auto;
    display: table;
    ul.showList {
        list-style: none;
        text-align: center;
        a:last-child li {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        a:hover {
            text-decoration: none;
        }
    }
    li.showLinks {
        border: 1px solid $secondaryColor;
        height: 35px;
        background: $primaryLighter;
        color: white;
        padding-top: 10px;
        transition: background 0.5s ease, border 0.5s ease;
    }
    li.showLinks {
        border-top: none;
    }
    li.showLinks:hover {
        background: $primaryLightest;
        border: 1px solid white;
        border-right: none;
        border-left: none;
    }
}

div.showInfo {
    background: white;
    padding: 5% 10%;
    div.col-container {
        >h1 {
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 10px;
        }
        >div {
            margin: 10px;
            font-weight: 400;
        }
    }
}

// ------------------------ schedules page --------------------
div#headerBar {
    background-color: #393737;
    background-image: url(../images/page-hero.png);
    background-repeat: no-repeat;
    background-position: 36px -20px;
    background-size: 470px 400px;
    height: 100px;
    div>h1 {
        color: white;
        padding-top: 30px;
        padding-left: 25px;
    }
}

table.matchTable {
    width: 100%;
}

img.tableIcon {
    height: 21px;
}

div.filterContainer {
    background: $primaryLightest;
    h3 {
        font-size: 1.3rem;
        text-align: center;
        padding: 10px 0;
    }
    div {
        width: 50%;
        float: left;
        background: white;
        background-color: $primaryLightest;
        height: 35px;
    }
    .dropDownList {
        width: 84%;
        border: 1px solid black;
        margin: 0 auto;
        display: block;
        transition: border 0.5s ease, width 0.75s ease, font 0.75s ease;
    }
    .dropDownList:hover {
        border: 1px solid white;
        width: 78%;
        font-size: 14px;
    }
    .resetButton {
        background: $secondaryColor;
        height: 26px;
        width: 84%;
        border: none;
        border-radius: 4px;
        color: white;
        font-weight: 400;
        margin: 0 auto;
        display: block;
        transition: background 0.75s ease, width 0.75s ease, color 0.75s ease;
    }
    .resetButton:hover {
        background: white;
        color: $secondaryColor;
        width: 75%;
    }
}
td{
    padding-top: 5px;
    height:30px;
}
.theader{
    padding-top: 5px;
    height:30px;
}
table.tableHeader {
    border-radius: 4px;
    width: 100%;
    background: $primaryColor;
    tr>th {
        color: white;
        text-align: center;
        font-size: 0.8rem;
        padding: 5px;
        >img {
            background: white;
            height: 25px;
            margin-bottom: -5px;
            border-radius: 4px;
            padding: 0 5px;
        }
    }
    tr>th:first-child {
        width: 165px;
    }
    tr>th:last-child {
        font-size: 0.5rem;
    }
}

.playerVsPlayer {
    margin-top: 5px;
    padding: 10px 10px;
    width: 85px;
    strong {
        font-size: 0.8rem;
    }
}

.tvText {
    font-size: 0.7rem;
}

.tvChannel {
    width: 90%;
}

.redWood {
    font-size: 0.6rem;
}

// -------------------- standings -----------------------
div.containerStandings {
    h1 {
        font-size: 1.5rem;
        background: white;
        text-align: center;
        height: 50px;
        padding-top: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $secondaryColor;
    }
}

.panel {
    border-radius: 4px;
    border: 1px solid $secondaryColor;
    text-align: center;
    width: 75%;
    background-color: #fff;
    margin: 0 auto;
    padding-top: 10px;
    height: 150px;
    font-weight: 400;
    transition: border 0.75s ease, background 0.75s ease, color 0.75s, height 0.75s ease, font-size 0.75 ease;
    h2 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    div {
        background: lightblue;
        margin: 5px auto;
        width: 55%;
        border-radius: 4px;
        height: 20px;
        transition: border 0.75s ease, background 0.75s ease, color 0.75s;
        padding-top: 1px;
    }
    div:hover {
        background: $secondaryColor;
        width: 50%;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.gameLogger {
    font-weight: 400;
    text-align: center;
    border: 1px solid $secondaryColor;
    background: white;
    padding: 20px;
    width: 75%;
    margin: 10px auto;
    border-radius: 4px;
    h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    input {
        text-align: center;
        border: 1px solid $secondaryColor;
        margin: 0 auto;
        display: block;
        border-radius: 4px;
        width: 25%;
        transition: border 0.25s ease, width 0.50s ease;
    }
    input:hover {
        border: 1px solid #ddd;
        width: 30%;
    }
    select {
        text-align: center;
        text-align-last: center;
        color: white;
        background: $primaryColor;
        margin: 0 auto;
        display: block;
        width: 70%;
        transition: border 0.25s ease, width 0.5s ease;
        option {
            text-align: left;
        }
    }
    select:hover {
        border: 1px solid #ddd;
        width: 65%;
    }
    div.submitScoreDiv {
        button {
            margin-top: 10px;
            color: #fff;
            background-color: $secondaryColor;
            border-color: $primaryColor;
            border-radius: 4px;
            transition: border 0.75s ease, background 0.75s ease, color 0.75s, width 0.75s ease;
        }
        button:hover {
            width: 48%;
            font-size: 0.9rem;
            color: $secondaryColor;
            background-color: white;
            border-color: $primaryLighter;
        }
    }
}

.tablesaw-sortable-descending {
    transition: background 0.75s ease;
    border-right: 1px solid white;
    background: $secondaryColor;
    a {
        transition: color 0.75s ease;
        color: white;
    }
    a:hover {
        text-decoration: none;
    }
    a:focus {
        text-decoration: none;
    }
}

.tablesaw-sortable-descending:hover {
    background: $primaryLighter;
    a {
        color: black;
    }
}

.tablesaw-sortable-descending:last-child {
    border: none;
}

tr.playerRow {
    background: white;
    td {
        transition: background .5s ease;
        border-right: 1px solid #ddd;
    }
    td:last-child {
        border: none;
    }
    td:hover {
        background: #ADD8E6;
    }
}

div.bracketStandings {
    margin: 0 10px;
    table.table{
        width: 100%;
        text-align: center;
        font-weight: 300;
    }
}

tr.playerRow:last-child {
    border-bottom: 1px solid #ddd;
}


/*----- Clearfix: Force an Element not to collapse -----*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}