$defaultFont: 'Open Sans', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$primaryLightest: #6E9FD1;
$primaryLighter:#4681BF;
$primaryColor:#286BAF;
$secondaryColor:#0C529B;

$fontColor: white;

$gutter: 2%;
$gutterdbl: (2 * $gutter);