<div class="schedulesWrapper">
  <div id="headerBar">
    <div>
      <h1>Match Schedules</h1>
    </div>
  </div>
  <!-- (ISAAC) FILTER BOX -->
  <div class="filterContainer">
    <h3>Filter By Player</h3>
    <div>
      <select class="dropDownList" ng-model="userSearch">
      <option value="" disabled selected>Select a Player</option>
      <option class="playersList" value="{{a.firstName}}" ng-repeat="a in players | orderBy:'firstName'">
        {{a.firstName}} {{a.lastName}}
      </option>
    </select>
    </div>
    <div>
      <button ng-click="userSearch = ''" type="button" class="resetButton">
      Reset Filter
    </button>
    </div>
  </div>

  <div class="container schedulesBody" ng-controller="schedulesController">
    <table class="tableHeader">
      <tr>
        <th>Thursday 18 May 2017</th>
        <th><img src="../images/league.png" alt="league image"></th>
        <th>Live stream avaliable</th>
      </tr>
    </table>
    <!-- (ISAAC)  TABLE OF GAMES -->
    <table class="matchTable text text-center table-responsive" ng-repeat="b in matchups | limitTo : 5 : 0 | filter: userSearch ">
      <tr class="topBorder">
        <td class="playerVsPlayer">
          <strong>
          {{b.player1.firstName}} {{b.player1.lastName}}
        </strong></td>
        <td class="gameTime">
          <span class="time">{{ today | date: "shortTime"}}</span></td>
        <td class="playerVsPlayer">
          <strong>
          {{b.player2.firstName}} {{b.player2.lastName}}
        </strong></td>
        <td>
          <img src="./images/pongTable.png" alt="" class="tableIcon">
          <strong class="redWood">Redwood Code Academy</strong></td>
        <td>
          <span class=" tvText">Live On</span>
          <img src="./images/tvLogo.png" class="tvChannel"></td>
      </tr>
    </table>


    <table class="tableHeader">
      <tr>
        <th>Friday 19 May 2017</th>
        <th><img src="../images/league.png" alt="league image"></th>
        <th>Live stream avaliable</th>
      </tr>
    </table>



    <table class="matchTable text text-center table-responsive" ng-repeat="a in matchups | limitTo : 3 : 5 | filter: userSearch">
      <tr class="topBorder">
        <td class="playerVsPlayer">
          <strong>
          {{a.player1.firstName}} {{a.player1.lastName}}
        </strong></td>
        <td class="gameTime">
          <span class="time">{{ today | date: "shortTime"}}</span></td>
        <td class="playerVsPlayer">
          <strong>
          {{a.player2.firstName}} {{a.player2.lastName}}
        </strong></td>
        <td>
          <img src="./images/pongTable.png" alt="" class="tableIcon">
          <strong class="redWood">Redwood Code Academy</strong></td>
        <td>
          <span class="tvText">Live On</span>
          <img src="./images/tvLogo.png" class="tvChannel"></td>
      </tr>
    </table>

  </div>
</div>