<!--When player services are ready to hook up-->
<div ng-controller="standingsController" class="containerStandings">
  <h1 class="subheading">2017 Regular Season Standings</h1>

  <div>

    <!--search filters for gender and age-->
    <div class="panel searchBy box clearfix">
      <h2>Search By</h2>
      <div class="filterNames">
        <a class="filterColors" ng-click="myFilter = ''" href="">All Profiles</a>
      </div>
      <div class="filterNames">
        <a class="filterColors" ng-click="myFilter = {gender: 'female'}" href="">Top Women</a>
      </div>
      <div class="filterNames">
        <a class="filterColors" ng-click="myFilter = {gender: '!female'}" href="">Top Men</a>
      </div>
      <div class="filterNames">
        <a class="filterColors" ng-click="myFilter = lessThan('age', 18)" href="">Top Juniors</a>
      </div>
    </div>

    <!-- input section for player names, score-->
    <div class="gameInfo">
      <h2>Log Game Score</h2>
      <div>
        <label for="name">Player One</label>
        <select class="option" ng-model="player1">
           <option value="">--Select Player 1--</option>
                        <option ng-repeat = "player in players | orderBy:'firstName'" value={{player.id}}> {{player.firstName}} {{player.lastName}} </option>
                      </select>
      </div>
      <div>
        <label for="name">Player Two</label>
        <select class="option" ng-model="player2">
             <option value="">--Select Player 2--</option>
                      <option  class="option" ng-repeat="player in players | orderBy:'firstName'" value={{player.id}}>  {{player.firstName}} {{player.lastName}} </option>
                    </select>
      </div>
      <div class="scoreInput">
        <div class="scoreDiv">
          <label for="scoreBackground">Score P1</label>
          <input class="scoreBackground" type="number" placeholder="P1" ng-model="scorePlayerOne">
        </div>
        <div class="scoreDiv2">
          <label for="scoreBackground">Score P2</label>
          <input class="scoreBackground" type="number" placeholder="P2" ng-model="scorePlayerTwo">
        </div>
      </div>
      <div class="submitScoreDiv">
        <button ng-click="logInfo()">Submit Scores</button>
      </div>
    </div>
    <!--names and stats bracket for players-->
    <div class="bracketStandings ">
      <table class="table ">
        <thead class="thead-inverse warning">
          <th class="tablesaw-sortable-descending theader">
            <a class="columnSort tableHeaders" href="" ng-click="sortType = 'firstName'; sortReverse = !sortReverse">First
                <span ng-show="sortType== 'firstName' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType== 'firstName' && sortReverse" class="fa fa-caret-up">
            </th>
            <th class="tablesaw-sortable-descending theader">
              <a href="" class="columnSort tableHeaders" ng-click="sortType = 'lastName'; sortReverse = !sortReverse">Last
                <span ng-show="sortType== 'lastName' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType== 'lastName' && sortReverse" class="fa fa-caret-up">
            </th>
            <th class="tablesaw-sortable-descending theader">
              <a class="columnSort tableHeaders" href="" ng-click="sortType = 'wins'; sortReverse = !sortReverse">Wins
                <span ng-show="sortType== 'wins' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType== 'wins' && sortReverse" class="fa fa-caret-up">
            </th>
            <th class="tablesaw-sortable-descending theader">
              <a class="columnSort tableHeaders" href="" ng-click="sortType = 'losses'; sortReverse = !sortReverse">Losses
                <span ng-show="sortType== 'losses' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType== 'losses' && sortReverse" class="fa fa-caret-up">
            </th>
            <th class="tablesaw-sortable-descending theader">
              <a class="columnSort tableHeaders" href="" ng-click="sortType = 'eloRank'; sortReverse = !sortReverse">ELO Score
                <span ng-show="sortType== 'eloRank' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType== 'eloRank' && sortReverse" class="fa fa-caret-up">
            </th>
          </thead>
            <tbody ng-repeat= "player in players | orderBy:sortType:sortReverse | filter:myFilter">
              <tr class="playerRow">
                  <td> {{player.firstName}} </td>
                  <td> {{player.lastName}} </td>
                  <td> {{player.wins}}</td>
                  <td> {{player.losses}}</td>
                  <td> {{player.eloRank}} </td>
              </tr>
            </tbody> 
          </table>
        </div>
  </div>
</div>