<div class="showContainer">
    <div class="showCard ">
        <div>
            <div class="showUser">
                <div class="userPic">
                    <h1> {{player.firstName}} {{player.lastName}} </h1>
                    <img class="showImg" src="{{player.img}}" alt="userImg" />
                </div>
            </div>
        </div>
        <div class="showMenu">
            <ul class="showList">
                <a ng-click="editPlayer()">
                    <li class="showLinks"><span class="showText">Update</span></li>
                </a>
                <a ng-click="deletePlayer()">
                    <li class="showLinks"><span class="showText">Delete</span></li>
                </a>
                <a ng-click="returnToProfiles()">
                    <li class="showLinks"><span class="showText">Go back to profiles</span></li>
                </a>
                <a ng-show="next" ng-click="showNext(player.id)">
                    <li class="showLinks"><span class="showText">Next</span></li>
                </a>
                <a ng-show="previous" ng-click="showPrev(player.id)">
                    <li class="showLinks last-child"><span class="showText">Previous</span></li>
                </a>
            </ul>
        </div>
        <div class="showInfo inside">
            <div class="col-container">
                <div class="columnSort">
                    <h1>Player Stats: </h1>
                </div>
            </div>
            <div class="col-container">
                <div>
                    <p><span><strong>Elo Score: </strong></span>{{player.eloRank}} </p>
                </div>
                <div>
                    <p><span><strong>Player Win Percentage: </strong></span>{{player.winLossRatio()}} </p>
                </div>
            </div>
            <div class=" col-container">
                <div>
                    <p><span><strong>Email: </strong>(Please don't email me, this is just for decoration) </span>{{ player.email
                        }}
                    </p>
                </div>
                <div>
                    <p><span><strong>Date of Birth: </strong></span>{{ player.dob | date: 'MMMM d, yyyy' }}</p>
                </div>
            </div>
            <div class="col-container">
                <div>
                    <p><span><strong>Gender: </strong></span> {{ player.gender}}</p>
                </div>
                <div>
                    <p><span><strong>Age: </strong></span> {{ player.age}}</p>
                </div>
            </div>
        </div>
    </div>
</div>